html {
  min-height: 100%;
  padding-top: 20px;
}

body {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

p {
  font-size: 15px;
  text-align: center;
  color: #499fef;
  letter-spacing: 1.3px;
  text-shadow: 0.5;
}

h1 {
  padding-top: 15px;
  color: #499fef;
}

h2 {
  padding: 10px;
  color: #499fef;
}

h3 {
  color: #499fef;
}

h4 {
  margin: 10px;
  color: #499fef;
}

.container-wrapper {
  background: white;
  margin: 30px;
  padding: 10px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 20px;
}

.row {
  margin: 15px;
}

.search {
  margin: 5px;
}

#w-icon {
  margin: 0px;
}
